<%- include('./partials/header') %>

<div class="jumbotron">
  <div class="container">
    <h1>hellloooooooo</h1>
    <p>this is the awesome answers v2 on express</p>
  </div>
</div>

<%- include('./partials/footer') %>
