<%- include('../partials/header') %>

<a href="/questions">Back to questions list</a>

<h1>Create a new question</h1>
<hr>
<%- include('_form', {question: question, method: 'post'}) %>



<%- include('../partials/footer') %>
